*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 100%;
}

#para{
    font-weight: bold;
}

p{
    margin: 10px;
    font-size: 14px;
}

.para2{
    margin: 15px 35px 0px;
    font-size: 14px;
}

.para1{
    margin-top: 10px;
}